<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/assets/app.css">
    <script src="/assets/app.js"></script>
</head>
<body>
    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <h1>
                <a href="/">
                    Protected File server
                </a>
            </h1>
            <div class="row">
                <div class="col-12">
                   <div class="form-group">
                     <label for="files">Files to upload</label>
                     <input type="file" class="form-control-file" name="files" id="files" placeholder="photos" aria-describedby="fileHelpId" multiple required accept=".jpg,.jpeg,.png">
                     <small id="fileHelpId" class="form-text text-muted">.jpg,.jpeg,.png</small>
                   </div>
                </div>
                <input type="hidden" id="selected-dir"  name="selectedDir">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-12">
                <a href="javascript:void(0)" onclick="directoryUp()" id="up-wrapper">
                    Up
                </a>
                <a href="javascript:void(0)" onclick="newFolder()" class="ml-2">
                    New Folder
                </a>
            </div>
        </div>
        <div class="row" id="directories">
            {{range $info := .dirs}}
                <div class="col-12 mt-2">
                    <div class="float-left mr-2">                       
                        <a href="javascript:void(0)" class="delete" onclick="deleteItem({{$info.Name}})" title="delete">x</a>
                    </div>
                    <div class="d-inline-block pointer">
                        <img src="/assets/images/folder.png" class="float-left image" onclick='gotoDirectory({{$info.Name}})'>
                        <div class="float-left ml-2">
                            <div class="mt-2" onclick='rename(this)'>
                                {{$info.Name}}
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <div>
            <div id="files-wrapper">
                {{range $info := .filenames}}
                    <div class="mt-2">
                        <a href="javascript:void(0)" class="delete" onclick="deleteItem({{$info.Name}})" title="delete">x</a>
                        <img src="/assets/images/file.png" class="image" onclick='showImage({{$info.Name}})'>
                        <a href="javascript:void(0)" onclick='rename(this)' class="pt-2 pb-3">
                            {{$info.Name}}
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <div id="img-wrapper" style="display: none;">
        <span onclick="closeImage()" class="close-img">X</span>
        <div id="img-holder"></div>
    </div>
    
</body>
</html>
